<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" required email formControlName="email"></ion-input>
      </ion-item>
      @if (loginForm.controls.email.touched && loginForm.controls.email.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">El email no puede estar vacío</ion-label>
      } @else if (loginForm.controls.email.touched && loginForm.controls.email.errors?.['email']) {
        <ion-label color="danger" class="errorLabel">Debes introducir un email válido</ion-label>
      }

      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="floating" required formControlName="password">
          @if (loginForm.controls.password.value) {
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          }
        </ion-input>
      </ion-item>
      @if (loginForm.controls.password.touched && loginForm.controls.password.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">La contraseña no puede estar vacía</ion-label>
      }
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [disabled]="loginForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Login
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="tertiary" expand="block" [routerLink]="['/auth/register']" [routerDirection]="'root'">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="googleLogin()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            <ion-label>Login con Google</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary" fill="outline" (click)="facebookLogin()">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <ion-label>Login con Facebook</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>