<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" required formControlName="name"></ion-input>
        @if (registerForm.controls.name.dirty && registerForm.controls.name.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      @if (registerForm.controls.name.touched && registerForm.controls.name.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">El nombre no puede estar vacío</ion-label>
      }
      
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" required email formControlName="email"></ion-input>
        @if (registerForm.controls.email.dirty && registerForm.controls.email.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      @if (registerForm.controls.email.touched && registerForm.controls.email.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">El email no puede estar vacío</ion-label>
      } @else if (registerForm.controls.email.touched && registerForm.controls.email.errors?.['email']) {
        <ion-label color="danger" class="errorLabel">Debes introducir un email válido</ion-label>
      }

      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="floating" required formControlName="password">
          @if (registerForm.controls.password.value) {
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          }
        </ion-input>
        @if (registerForm.controls.password.dirty && registerForm.controls.password.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      @if (registerForm.controls.password.touched && registerForm.controls.password.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">La contraseña no puede estar vacía</ion-label>
      } @else if (registerForm.controls.password.touched && registerForm.controls.password.errors?.['minlength']) {
        <ion-label color="danger" class="errorLabel">
          Debes introducir
          {{registerForm.controls.password.errors?.['minlength'].requiredLength - registerForm.controls.password.errors?.['minlength'].actualLength}}
          carácteres más
        </ion-label>
      }

      <ion-item>
        <ion-input type="password" label="Repite la contraseña" labelPlacement="floating" required [valueEquals]="registerForm.controls.password.value" formControlName="passwordConfirm">
          @if (registerForm.controls.passwordConfirm.value) {
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          }
        </ion-input>
        @if (registerForm.controls.passwordConfirm.dirty && registerForm.controls.passwordConfirm.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      @if (registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">La contraseña no puede estar vacía</ion-label>
      } @else if (registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.errors?.['minlength']) {
        <ion-label color="danger" class="errorLabel">
          Debes introducir
          {{registerForm.controls.passwordConfirm.errors?.['minlength'].requiredLength - registerForm.controls.passwordConfirm.errors?.['minlength'].actualLength}}
          carácteres más
        </ion-label>
      } @else if (registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.errors?.['valueEquals']) {
        <ion-label color="danger" class="errorLabel">Ambas contraseñas deben coincidir</ion-label>
      }
      
      <ion-item>
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camara
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Galeria
        </ion-button>
      </ion-item>
    </ion-list>
    @if (imageBase64) {
    <ion-img [src]="imageBase64"></ion-img>
    }
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="registerForm.invalid || !imageBase64">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Registrarse
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/auth/login']" [routerDirection]="'root'">
            <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>