<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title() }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="500"
      [(ngModel)]="search"
      placeholder="Buscar"
    >
    </ion-searchbar>
    <div id="chips">
      <ion-chip color="primary" (click)="changeProducts()">
        <ion-label>Todos</ion-label>
      </ion-chip>
      <ion-chip color="primary" (click)="changeProducts('selling')">
        <ion-label>A la venta</ion-label>
      </ion-chip>
      <ion-chip color="primary" (click)="changeProducts('favorites')">
        <ion-label>Favoritos</ion-label>
      </ion-chip>
      <ion-chip color="primary" (click)="changeProducts('bought')">
        <ion-label>Comprados</ion-label>
      </ion-chip>
      <ion-chip color="primary" (click)="changeProducts('sold')">
        <ion-label>Vendidos</ion-label>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadProducts(refresher)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/products/add']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    @for (prod of filteredProducts(); track prod.id) {
      <product-item [product]="prod" (deleted)="deleteProduct(prod)" (favChanged)="favoriteChanged(prod)"></product-item>
    }

    @if (filteredProducts().length === 0) {
      <ion-item lines="none" id="noProducts">
        <ion-label>No hay productos que mostrar</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>