<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modificar el perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="changeProfile()" [formGroup]="profileForm">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" required formControlName="name">
          @if (profileForm.controls.name.dirty && profileForm.controls.name.valid) {
            <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
          }
        </ion-input>
      </ion-item>
      @if (profileForm.controls.name.touched && profileForm.controls.name.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">El nombre no puede estar vacío</ion-label>
      }
      
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" required email formControlName="email">
          @if (profileForm.controls.email.dirty && profileForm.controls.email.valid) {
            <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
          }
        </ion-input>
      </ion-item>
      @if (profileForm.controls.email.touched && profileForm.controls.email.errors?.['required']) {
        <ion-label color="danger" class="errorLabel">El email no puede estar vacío</ion-label>
      } @else if (profileForm.controls.email.touched && profileForm.controls.email.errors?.['email']) {
        <ion-label color="danger" class="errorLabel">Debes introducir un email válido</ion-label>
      }

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" [disabled]="profileForm.invalid || !profileForm.dirty">
              <ion-icon name="document-text" slot="start"></ion-icon>
              Cambiar datos
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger" expand="block" fill="outline" (click)="close()">
              <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>